<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="resources/css/home.css">
</head>
<body class="<%= ageGroup %>">
    <div class="container">
        <header id="header">
            <div class="header-container">
                <div class="header-content">
                    <div class="logo-container">
                        <img class="logo" src="resources/assets/img/Learn Space Logo 2.jpg" alt="Logo" width="60" height="60">
                        <a href="/home" class="brand-name">Learn Space</a>
                    </div>
                    <div class="search-container">
                        <input type="search" class="search-input" placeholder="Buscar cursos...">
                        <span class="search-icon">
                            <img src="resources/assets/img/busqueda.webp" alt="">
                        </span>
                    </div>
                    <div class="header-buttons">
                        <button class="btn" onclick="window.location.href='/carrito';">
                            <img src="resources/assets/img/Carrito de Compras.webp" alt="carrito" width="20" height="20">
                        </button>
                        <button class="btn" onclick="window.location.href='/planes';">Planes</button>
                        <div class="profile-menu">
                            <button class="btn" id="profileButton">
                                <p class="user_name"><%= user.name %></p>
                            </button>
                            <div class="profile-dropdown" id="profileDropdown">
                                <button onclick="window.location.href='/editar-perfil';">Ver Perfil</button>
                                <button onclick="window.location.href='/becas';">Becas</button>
                                <button>Contáctanos</button>
                        
                                <!-- Botón de Cerrar Sesión -->
                                <form action="/logout" method="get" style="display:inline;">
                                    <button type="submit">Cerrar Sesión</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="main-container">
            <aside class="sidebar">
                <nav>
                    <aside class="sidebar">
                        <nav>
                          <button class="nav-button active" data-section="inicio">
                            <img src="resources/assets/img/Home.webp" alt="Inicio">
                            <span>INICIO</span>
                          </button>
                          <button class="nav-button" data-section="biblioteca">
                            <img src="resources/assets/img/Biblioteca.webp" alt="Biblioteca">
                            <span>BIBLIOTECA</span>
                          </button>
                          <button class="nav-button" data-section="rutas">
                            <img src="resources/assets/img/Rutas.webp" alt="Rutas">
                            <span>MIS RUTAS</span>
                          </button>
                          <button class="nav-button" data-section="progreso">
                            <img src="resources/assets/img/Progreso.webp" alt="Progreso">
                            <span>PROGRESO</span>
                          </button>
                          <button class="nav-button" data-section="notificaciones" id="notificationButton">
                            <img src="resources/assets/img/Notificaciones.webp" alt="Novedades">
                            <span>NOTIFICACIONES</span>
                            <span id="notificationCount" class="notification-count">0</span>
                          </button>
                        </nav>
                      </aside>
                </nav> 
            </aside>
            
            <main class="main-content" id="main">
                <section id="inicio" class="section active">
                    <section class="schools">
                        <h2>Explora nuestras Escuelas</h2>
                        <div class="carousel-school">
                            <div class="carousel-school-content">
                                <% schools.forEach(school => { %>
                                    <div class="card-school">
                                        <div class="card-school-image">
                                            <!-- Aquí puedes agregar la imagen de la escuela si está disponible en los datos -->
                                        </div>
                                        <div class="card-school-content">
                                            <h4><%= school.name %></h4>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                               
                        </div>
                    </section>

                    <section class="courses" id="best-courses">
                        <h2>Nuestros Mejores Cursos</h2>
                        <div class="scroll-container">
                            <div class="course-container">
                                <% courses.forEach(course => { %>
                                    <div class="course-card">
                                        <div class="course-image">
                                            <img src="<%= course.cover_image_url %>" alt="<%= course.title %>">
                                            <div class="course-overlay">
                                                <button class="overlay-button" onclick="window.location.href='/curso/<%= course.id_course %>';">Ir al Curso</button>
                                                <button class="overlay-button">+ Biblioteca</button>
                                            </div>
                                        </div>
                                        <div class="course-info">
                                            <div class="course-title"><%= course.title %></div>
                                            <div class="course-duration">Edad: <%= course.age_group %></div>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </section>

                    <section class="final-courses" id="final-courses">
                        <h2>Nuestros Ultimos Cursos</h2>
                        <div class="scroll-container">
                            <div class="course-container">
                                <% courses.forEach(course => { %>
                                    <div class="course-card">
                                        <div class="course-image">
                                            <img src="<%= course.cover_image_url %>" alt="<%= course.title %>">
                                            <div class="course-overlay">
                                                <button class="overlay-button" onclick="window.location.href='/curso/<%= course.id_course %>';">Ir al Curso</button>
                                                <button class="overlay-button">+ Biblioteca</button>
                                            </div>
                                        </div>
                                        <div class="course-info">
                                            <div class="course-title"><%= course.title %></div>
                                            <div class="course-duration">Edad: <%= course.age_group %></div>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </section>
                </section>
                
                <section id="biblioteca" class="section">
                    <h2>BIBLIOTECA</h2>
                    <h3>Aquí encontrarás todos tus cursos</h3>
                    <div class="my-biblioteca">
                        <div class="my-course" onclick="window.open('curso.html', '_blank');">
                            <div class="my-course-image">
                                <img src="resources/assets/img/Portada js.webp" alt="">
                            </div>
                            <div class="my-course-info">
                                <div class="course-title">Node.js Fundamentals</div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="rutas" class="section">
                    <h2>MIS RUTAS</h2>
                    <h3>Aquí encontrarás todas tus rutas de aprendizaje</h3>
                    <button>Crear Nueva Ruta</button>
                </section>

                <section id="progreso" class="section">
                    <h2>PROGRESO</h2>
                    <div class="stats-grid">
                        <div class="stat-card">
                            <h3>Cursos Aprobados</h3>
                            <p class="stat-number">0</p>
                        </div>
                        <div class="stat-card">
                            <h3>Clases Vistas</h3>
                            <p class="stat-number">0</p>
                        </div>
                        <div class="stat-card">
                            <h3>Horas Aprendiendo</h3>
                            <p class="stat-number">0 h</p>
                        </div>
                        <div class="stat-card">
                            <h3>Certificados Obtenidos</h3>
                            <p class="stat-number">0</p>
                        </div>
                    </div>
                </section>

                <div id="notificationPanel" class="notification-panel hidden">
                    <div class="notification-header">
                        <h3>Notificaciones</h3>
                        <button id="closeButton" class="close-button">Cerrar</button>
                    </div>
                    <div id="notificationList" class="notification-list">
                        <div class="notification-item">
                            <div class="notification-title">Nuevo Curso</div>
                            <div class="notification-message">Curso de Python</div>
                            <div class="notification-time">Hace 3 minutos</div>
                        </div>
                        <div class="notification-item">
                            <div class="notification-title">Nuevo Curso</div>
                            <div class="notification-message">Curso de Python</div>
                            <div class="notification-time">Hace 3 minutos</div>
                        </div>
                        <div class="notification-item">
                            <div class="notification-title">Nuevo Curso</div>
                            <div class="notification-message">Curso de Python</div>
                            <div class="notification-time">Hace 3 minutos</div>
                        </div>
                        <div class="notification-item">
                            <div class="notification-title">Nuevo Curso</div>
                            <div class="notification-message">Curso de Python</div>
                            <div class="notification-time">Hace 3 minutos</div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
    <script src="resources/assets/js/home.js"></script>
</body>
</html>